# Files
test.ipynb
test.py
model.pth
best.pth
model_weights.pth
Assignment/Assignment#3/kaggle.json
Assignment/Assignment#3/korean-sign-language-recognition-soi1010-2023.zip
000.jpg

# extensions
*.tar.gz
*.zip

# Folders
/Assignment/Assignment#1/data/
/Assignment/Assignment#2/data/
data/
/Assignment/Assignment#3/data/
/Assignment/Assignment#3/wandb/

/Assignment/Assignment#3/