# Files
test.ipynb
test.py
model.pth
best.pth
model_weights.pth
/Assignment/Assignment#3/kaggle.json
/Assignment/Assignment#3/korean-sign-language-recognition-soi1010-2023.zip
000.jpg
.gitignore

# extensions
*.tar.gz
*.zip

# Folders
data/
/Assignment/Assignment#1/data/
/Assignment/Assignment#2/data/
/Assignment/Assignment#3/data/
/Assignment/Assignment#3/wandb/